name: Deploy Website (Next.js)

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "20" # Next.js usually needs newer Node

      - name: Build Next.js
        run: |
          npm ci
          npm run build

      - name: Copy files to Server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          source: "."
          target: "/var/www/fiesta_web"
          rm: false

      - name: Restart PM2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /var/www/fiesta_web
            npm ci --production
            # Start/Reload the Next.js app
            pm2 startOrReload ecosystem.config.cjs --update-env
            pm2 save
